body {
  background-color:rgb(249, 241, 196);
  margin: 0;
  padding-bottom: 50px;
}

header {
  margin-top:50px;
  background-color: rgb(249, 241, 196);
}

.header {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 7vw;
  margin: 0;
  color: rgb(61, 38, 3);
  font-family: Georgia;
  text-shadow: 5px 5px 3px rgba(0,0,0,0.15);
  padding-left: 2vw;
}

h2 {
  margin: -10px 0 0 0;
  font-family: 'Cedarville Cursive', cursive;
  color: rgb(81, 50, 5);
  font-size: 7vw;
  text-align: right;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.15);
  line-height: 50px;
  letter-spacing: 5px;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: 40px ;
}

.search {
  width: 60%;
  max-width: 500px;
  height: 60px;
  border: 4px solid rgb(41, 25, 2);
  background-color: rgb(249, 241, 196);
  padding-left: 20px;
  font-size: 30px;
}

::placeholder {
  font-size: 1.6rem;
  text-align: bottom;
}

.search-icon {
  height: 52px;
  border: 4px solid rgb(41, 25, 2);
  border-left: none;
  cursor: pointer;
}

.flex {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .flex {
    grid-template-columns: 1fr 1fr;
  }
}

      
@media (min-width: 1100px) {
  .flex {
     grid-template-columns: 1fr 1fr 1fr;
  }
}

.box1 {
  background: rgb(249, 241, 196);
  box-shadow: 0 0 6px rgba(81,50, 5,0.3);
  border-radius: 4px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.box1:hover {
  box-shadow: 0 0 20px rgba(81,50, 5,0.3);
  transform: translateY(-5px);
}

.img1 {
  width: 90%;
  margin: 5% auto;
  border: 5px;
  border-radius: 4px;
  border-style:  solid;
  border-color:  rgb(114, 77, 3);
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

h3 {
  font-family: Arial;
  font-size: 40px;
  padding: 15px;
  margin: 0;
}

.des {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 15px; 
  font-size:200%;
}

.button {
  width: fit-content;
  margin: 15px;
  background-color: rgb(114, 77, 3);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}

.button:hover {
  box-shadow: 0 0 6px rgba(0,0,0,0.3); 
  background-color: rgb(152, 102, 2);
  transform: opacity 0.3s ;     
}

.button:active {
  opacity: 0.8;
}

.badge {
  position: relative;
  height: 50px; width: 60px; 
  border-radius: 0 0 30px 30px;
  background-color: rgb(41, 25, 2);
  padding: 10px;
  color: white;
  font-size: 400%;
  text-align: center;
  margin-right: 10px;
  font-size: 15px;
}

.l { 
  width: 18vw; 
}
.m { 
  width: 10vw; 
  cursor: pointer; 
  border-radius: 2px;
}

.m:hover {
  box-shadow: 0 0 20px rgba(81,50, 5,0.3);
}

.menu {
  position: relative;
}

.menu .tooltip {
  position: absolute;
  background-color: rgb(41, 25, 2) ;
  opacity: 0;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  font-family: arial;
  font-size: 30px;
  bottom: -25px;
  left:60px;
  transition: opacity 0.3s;
  pointer-events: none;
}

.menu:hover .tooltip {
  position: absolute;
  background-color: rgb(41, 25, 2) ;
  opacity: 0.7;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  font-family: arial;
  font-size: 30px;
  bottom: -25px;
  left:60px;
}     

.button2 {
  width: fit-content;
  margin: 15px;
  background-color: rgb(249, 241, 196);
  color:rgb(41, 25, 2);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.button2:hover {
  box-shadow: 0 0 6px rgba(0,0,0,0.3); 
  background-color: rgb(249, 241, 196);
  transform: opacity 0.3s ;   
}

.hidden {
  display: none;
}

.footer {
  background-color: rgb(61, 38, 3);
  padding-left:20vw;
  padding-right:20vw;
  padding-bottom: 7vw;
  padding-top: 7vw;
}

.foot {
  color:rgb(249, 241, 196);
  font-size: 3vw;
  text-align: center;
  line-height: 1vw;
}

.logo2 {
  display: inline-block; 
  height:10vw;
  align-items: center;
  padding-left: 20vw;
  margin: 30px;
}